@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --animate-fadeIn: fadeIn 1s;

   @keyframes fadeIn {
      0% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }

   --font-head: 'Bitter', sans-serif;
}

:root {
   font-family: "Lato", sans-serif;
}

html {
   scroll-behavior: smooth;
}