@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --animate-fadeIn: fadeIn 1s;

   @keyframes fadeIn {
      0% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }
}

:root {
   font-family: "Lato", sans-serif;
}